// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  text-decoration: none;
  font-size: 40px;
  color:  red;
}

a {
  color: yellow;
  margin: 10px;
  
}

p {
  margin-left: 20px;
}